*{
	padding: 0;
	margin: 0;
}
body{
  background: url("sameh.jpg") no-repeat center fixed;
  background-size: 1500px 750px;

}
head {
  /*background-image: url("sameh.jpg");*/
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: crimson blue;
  text-align: center;
  bottom: 100px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-left{
  color: deepskyblue;
  text-align: left;
  padding: 20px;
  left: -10;

}
.header {
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: sticky; 
}
.header-right {
  float: right;
  text-align: center;

}
.logo {
  font: 10px;
  letter-spacing: 2px;
  color: crimson;
}
.header-right li {
  text-align: right;
  color: blue;
  display: inline-block;
  padding: 10px 20px;
}
.header-right li a {
  color: crimson blue;

}
.header-right li a:hover {
  color: crimson;
}
.container{
	background: transparent;
	width: 400px;
	height: 400px;
	padding-bottom: 20px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
  padding: 70px 50px 20px 50px;
}


button {
      color: #ffffff;
      background-color: #348fc0;
      font-size: 18px;
      border: 0px solid #2d63c8;
      padding: 8px 30px;
      cursor: pointer
    }
button:hover {
      color: #2d63c8;
      background-color: #ffffff;
    }




    