.header1 {
  position: relative;
  width: 100%;
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1 img {
  position: absolute;
  z-index: -1; 
  width: 100%;
  height: 100%;
}


.header1 h1 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  font-family: "font-family:Brush Script MT", Brush Script Std, cursive
  position: absolute;
  top: 150;
  color: black;
  font-size: 32px;
}
/* Room container styles */
.room-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
/* Room styles */
.room {
  border: 5px solid black;
  width: 300px; 
  height: 200px; 
  margin: 10px;
  background-color:white; /* Light sky blue color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  box-sizing: border-box; /* Add a border-box design */
}
.room:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.room img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room h2 {
  text-align: center;
  margin: 10px 0;
}
.room button {
  position: absolute;
  bottom: -90;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  padding: 10px 20px;
  background-color: #2E86C1 ;
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid #00008B; 
}
.room button:hover {
  background-color: #333;
}
.text{
  margin: auto;
  text-align: center;

}
head {
  /*background-image: url("sameh.jpg");*/
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: crimson blue;
  text-align: center;
  bottom: 100px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-left{
  color: deepskyblue;
  text-align: left;
  padding: 20px;
  left: -10;

}
.header {
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: sticky; 
}
.header-right {
  float: right;
  text-align: center;

}
.logo {
  font: 10px;
  letter-spacing: 2px;
  color: crimson;
}
.header-right li {
  text-align: right;
  color: blue;
  display: inline-block;
  padding: 10px 20px;
}
.header-right li a {
  color: crimson blue;

}
.header-right li a:hover {
  color: crimson;
}
